body, html {
    margin: 0;
}

.App-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.App-container header {
    width: 100%;
    height: 50px;
    background-color: rgb(141, 194, 175);
}

.App-container .content {

}

.App-container footer{
    width: 100%;
    height: 50px;
    background-color: rgb(141, 194, 175);
}